/* AUTHOR NOTE: This Odin project is focused on replicating the website below
It hasn't been formatted for mobile devices just yet
Instructions are to clone the webpage located at:
https://cdn.statically.io/gh/TheOdinProject/curriculum/81a5d553f4073e593d23a6ab00d50eef8620796d/foundations/html_css/project/imgs/01.png */

body {
    font-family: "roboto", sans-serif;
    background: rgb(160, 160, 160);
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* section1 section1 section1 section1 section1 section1 section1 */

.section1 {
    background: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-logo-area {
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.awesome-section {
    display: flex; 
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 60px;

}

.left-part {
    display: flex;
    flex-direction: column;
    wrap: wrap;
    margin-right: 100px;
    padding-right: 100px;
}

.website-awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.website-awesome-text {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button {
    display: flex;
    justify-content: center;
    
}

button {
    border-radius: 7px;
    height: 30px;
    color: #F9FAF8;
    background-color: #3882F6;
    width: 120px;
    border: none;
    margin-top: 10px;
}

.glacier-image {
    width: 415px;
    height: auto;
}

/* section2 section2 section2 section2 section2 section2 section2 section2 */

.section1 {
    background: #1F2937;
    display: flex;
    flex-direction: column;
}